<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @fileupload.project_name %>
</p>

<p>
  <strong>File name:</strong>
  <%= @fileupload.file_name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @fileupload.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @fileupload.end %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @fileupload.unique %>
</p>

<p>
  <strong>Last row:</strong>
  <%= @fileupload.last_row %>
</p>

<%= link_to 'Edit', edit_fileupload_path(@fileupload) %> |
<%= link_to 'Back', fileuploads_path %>
